body {
    width: auto;
    background-image: url("img/pato_rosa.jpg");
    height: 50%;
}
.container {
	font-family: sans-serif;
	font-size: 20px;
	margin: auto;
	width: 70%;
	border-style: solid;
	border-color: #00FA9A;
	padding: 10px;
	background-color: #F5F5DC;
	;
}
h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bolder;
}
.subtitulo {
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}
li{
	margin: 15px;
}